Dockerfile
packages.txt
tests/
.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
.astro/
.kube/
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
.terraform/
terraform.tfstate*
logs/
include/.ipynb_checkpoints/
data
.secrets/
samples/
.ruff_cache/
pycache/
*.pyc
*.pyo
*.swp
.swo
.DS_Store
